*{
    box-sizing: border-box;
}

header {
    max-width:1000px;
    min-height:80px;
    padding:20px;
    margin: 10px auto;
    background-color:green;
}

#logo{
    width:100px;
    line-height:50px;
    color:yellowgreen;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    background-color:azure;
}

main{
    width:1000px;
    height:100%;
    margin: 30px auto;

    /* background-color:aliceblue; */
}
/* Test width/height */
h3 {
    font-weight: 600;
    font-size:24px;
    margin: 10px 0;
}
.a
{
    background-color:aquamarine;
    width: 500px;
    height:300px;
}

.b
{
    background-color:cornflowerblue;
    width: 500px;
    min-height:300px;
}
.box
{
    background-color:burlywood;
    width: 490px;
    border: 2px solid black;
    line-height:290px;
    text-align:center;
}

main > section
{
    width: 400px;
    min-height: 400px;
    background-color: greenyellow;
    border: black 2px solid;
}

section > figure
{
    height:100px;
    background-color:white;
}

aside{
    width:100px;
    height:100px;
    background-color:pink;
    border: black 2px solid;
}